* { @include box-sizing(border-box); }

body {
    background-color: $tan;
    background-image: url('images/feathers.png');
}

.site {
    max-width: $site-max-width;
    margin: 40px auto;
}

.site-content {
    padding: 10px 60px;
    background-color: white;
}

.content-area, .widget-area {
    margin: 0;
    padding: 0;
    display: inline-block;
    vertical-align: top;
}

.content-area {
    width: 70%;
    padding-right: 20px;
}

.widget-area {
    width: 29.5%;
    padding-left: 20px;

    h1 { 
        font-size: $type-2;
    }
}
