@media only screen and (max-width : 768px) {

	body,
	button,
	input,
	select,
	textarea {
		color: $text-color;
		font-family: $base-font;
		font-size: $type-3 - 2px;
		line-height: 1.5;
	}

	.site {
		margin: 20px auto;
	}

	.site-header {
		padding: 10px 20px;
		margin: 0px 20px;

		.site-title {
			font-size: 42px;
			margin-bottom: 15px;
		}
	}

	.main-navigation {
		width: 100%;
	}

	.content-area,
	.widget-area {
		width: 100%;
		padding: 0;
	}

	.site-content {
    	padding: 10px 20px;
    	margin: 0 20px;
    	background-color: white;
	}

	.site-footer {
		.site-info .sep {
			display: block;
			visibility: hidden;
			height: 0;
		}
	}
}